.search-container {
  position: relative;
  width: 100%;
  max-width: 700px; 
  margin: 20px auto;
  display: flex;
  align-items: center;
  gap: 40px; 
}

select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
  flex-shrink: 0; 
  width: 150px; 
}

app-search {
  flex-grow: 1; 
  max-width: calc(100% - 160px); 
}

@media (max-width: 768px) {
  .search-container {
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px; 
  }

  select {
    width: 150px; 
    margin-left: 40px;
  }
}



.company-name {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9em;
}

.hero {
  position: relative;
  height: 75vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.background-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.background-carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.background-carousel img.active {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.content {
  position: relative;
  z-index: 3;
  padding-left: 50px;
  max-width: 500px;
}

.inline-content {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 20px;
}

.favicon-image {
  width: 92px;
  height: 92px;
  background-image: url('../../../../public/favicon.ico');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

h1 {
  font-size: 64px;
  line-height: 1.0;
  font-weight: bold;
}

.search-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 4;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fc8004;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgb(224, 154, 103);
  color: black;
}

@media (max-width: 768px) {
  .content {
    padding-left: 0;
    text-align: center;
  }

  .inline-content {
    justify-content: center;
    flex-direction: column;
  }

  .favicon-image {
    margin-right: 0;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 48px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 36px;
  }
}



