   <section class="hero">
    <div class="background-carousel">
      <img *ngFor="let image of images; let i = index" [src]="image" [class.active]="i === currentImageIndex" alt="Background Image">
    </div>
    <div class="overlay"></div>
    <!-- // -->
    <!-- // -->
    <!-- <div class="search-container">
      
      <app-search (searchEvent)="onSearch($event)"></app-search>
    </div> -->
    <div class="search-container">
      
      <select [(ngModel)]="selectedLocation" (change)="onLocationChange()">
        <option value="">All Locations</option>
        <option *ngFor="let location of locations" [value]="location">{{location}}</option>
      </select>

      <app-search (searchEvent)="onSearch($event)"></app-search>
    </div>
    
    <!-- // -->
    <!-- // -->
    <div class="content">
      <div class="inline-content">
        <div class="favicon-image"></div>
        <h1>JobHunter</h1>
      </div>
      <br>
      <a href="/register" class="btn">Register</a>
    </div>
  </section>
  