/* .category-list {
    padding: 20px;
  }
  
  .category-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
  }
  
  .category-item h3 {
    margin: 0;
  }
  
  .category-item img {
    max-width: 100px;
    height: auto;
  }
  .section-title {
    text-align: center;
    margin-bottom: 20px;
  } */
  .category-list {
    padding: 20px;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  ::ng-deep .carousel-item img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    transition: border-radius 0.3s ease;
  }
  
  ::ng-deep .carousel-item:hover img {
    border-radius: 16px;
  }
  