<!-- <div class="shop-container">
    <h1>Welcome to Our Shop</h1>
    <div class="product-list">
      <div *ngFor="let product of products" class="product-card">
        <h2>{{ product.name }}</h2>
        <p>Price: ${{ product.salary.toFixed(2) }}</p>
        <p>{{ product.description }}</p>
        <button>Add to Cart</button>
      </div>
    </div>
  </div>
   -->


<div class="job-container">
    <header class="header">
        <h1>Offers List</h1>
    </header>
    <div class="job-list">
        <div *ngFor="let product of products" class="job-card">
            <h2>{{ product.name }}</h2>
            <!-- <p class="company">{{ product.company }}</p> -->
            <!-- <p class="location">{{ product.location }}</p> -->
            <!-- <p class="salary">Salary: ${{ product.salary.min }} - ${{ product.salary.max }}</p> -->
            <p class="salary">Salary: ${{ product.salary }}</p>
            <p class="description">{{ product.description }}</p>
            <div class="button-container">
                <button>View Details</button>
                <button>Add to Favorites</button>
            </div>
        </div>
    </div>
</div>

