<!-- <div class="search-container">
    <input type="text" class="search-input" [(ngModel)]="searchValue" (input)="onSearch()" placeholder="Buscar...">
</div> -->


<div class="search-container">
    <input type="text" class="search-input" [(ngModel)]="searchValue" (input)="onInput()" placeholder="Buscar ofertas...">
    <ul *ngIf="suggestions.length > 0" class="suggestions">
      <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
        {{ suggestion.title }} | {{ suggestion.company }}
      </li>
    </ul>

  </div>
  