<!-- Filtros -->
<div class="filters-sidebar" [class.open]="isFiltersSidebarOpen">
  <h2>Filtros</h2> <!-- Aquí agregamos el contador -->
  <h3>Ofertas encontradas ({{ offerCount }})</h3>
  <!-- Filtro de Categoría -->
  <div class="filter-container">
    <label for="categorySelect">Categoría:</label>
    <select id="categorySelect" (change)="onCategoryChange($event)">
      <option value="">Todas las categorías</option>
      <option *ngFor="let category of categories" [value]="category.slug" [selected]="category.slug === selectedFilters.category">
        {{ category.name }}
      </option>
    </select>
  </div>

  <!-- Filtro de Empresa -->
  <div class="filter-container">
    <label for="companySelect">Empresa:</label>
    <select id="companySelect" (change)="onCompanyChange($event)">
      <option value="">Todas las empresas</option>
      <option *ngFor="let enterprise of enterprises" 
              [value]="enterprise.slug" 
              [selected]="enterprise.slug === selectedFilters.company">
          {{ enterprise.name }}
      </option>
    </select>
  </div>

  <!-- Filtro de Salario -->
  <div class="filter-container">
    <label for="salaryRange">Salario Mínimo:</label>
    <input
      type="range"
      id="salaryRange"
      [(ngModel)]="salaryRangeMin"
      (input)="onSalaryChange()"
      min="0"
      max="10000"
      step="200"
    />
    <span>{{ salaryRangeMin }} €</span>
  </div>

  <!-- Mostrar filtros activos -->
  <button (click)="removeFilters()">Limpiar Filtros</button>
</div>

<!-- Botón para abrir filtros -->
<section class="filter-button-section">
  <button class="abrirfiltros" (click)="toggleFiltersSidebar()">{{ isFiltersSidebarOpen ? 'Close Filters' : 'Open Filters' }}</button>
</section>
