/* Estilos generales del header */
.site-header {
  background: linear-gradient(135deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  padding: 15px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between; /* Asegura que el logo y el menú estén a los extremos */
}

/* Logo */
.logo {
  height: 1000px;
  width: 1000px;
}
.logos {
  height: 100px;
  width: 100px;
  position: relative; /* O absolute, dependiendo de la situación */
  z-index: 10; /* Aumenta el valor para asegurarte de que esté por encima de otros elementos */
}


.logo:hover {
  transform: scale(1.05);
}

/* Navegación principal en vista de escritorio */
.main-nav {
  display: flex;
  flex-grow: 1; /* Permite que la navegación ocupe el espacio disponible */
  justify-content: center; /* Centra los elementos horizontalmente */
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255,255,255,0.1);
}

/* Botones de autenticación */
.auth-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

/* Botones de autenticación */
.btn {
  padding: 8px 15px;
  margin-right: 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Botones de autenticación */
.auth-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

/* Botón de login */
.btn-login {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.btn-login:hover {
  background-color: #ffffff;
  color: #2989d8;
}

/* Elimina estilos para la vista móvil */
@media (max-width: 768px) {
  /* .main-nav {
    display: none;
  }

  .nav-list {
    display: none; 
  }

  .nav-container {
    display: none; 
  } */
}

