<!-- Card Enterprise -->
<div class="card mb-30 equal-card">
  <!-- <a [routerLink]="['/shop', enterprise.slug]" class="card-img-tiles" data-abc="true" routerLinkActive="active"> -->
    <div class="inner">
      <div class="main-img">
        <img [src]="enterprise.logo || 'assets/img_enterprises/default.png'" alt="Enterprise Image" class="img-fluid enterprise-img" required>
      </div>
    </div>
  <!-- </a> -->
  <div class="card-body text-center">
    <h4 class="card-title">{{ enterprise.name }}</h4>
    <p>{{ enterprise.description }}</p>
    <p><strong>Industry & Website: </strong> {{ enterprise.industry }} | {{ enterprise.website }}</p>
  </div>
</div> 